main {
  justify-content: center;
  align-items: center;
}

form {
  width: 320px;
  height: auto;
}

.mat-mdc-form-field {
  width: 100%;
}

.btn-block {
  width: 100%;
  display: flex;
  justify-content: right;
}
